<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd 
                           http://www.springframework.org/schema/data/jpa 
                           http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
                           http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
                           http://www.springframework.org/schema/jdbc 
                           http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd                   
                           http://camel.apache.org/schema/spring 
                           http://camel.apache.org/schema/spring/camel-spring-2.4.0.xsd">
           
    <bean id="config" class="com.dzer6.ga3.PropertyPlaceholderConfigurer">
        <property name="location" value="/WEB-INF/classes/config.properties"/>
    </bean>
  
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="persistenceUnitName" value="spring-jpa"/>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">${HIBERNATE_HBM2DDL_AUTO}</prop>
            </props>
        </property>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="${JPA_SHOW_SQL}"/>
                <property name="generateDdl" value="${JPA_GENERATE_DDL}"/>
                <property name="databasePlatform" value="${JPA_DATABASE_PLATFORM}" />
            </bean>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
  
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${DB_DRIVER_CLASS_NAME}"/>
        <property name="url" value="${DB_URL}"/>
        <property name="username" value="${DB_USERNAME}"/>
        <property name="password" value="${DB_PASSWORD}"/>
    </bean>
  
    <jpa:repositories base-package="com.dzer6.ga3.repository" />

    <context:component-scan base-package="com.dzer6.ga3"/>
  
    <bean id="applicationContextProvider" class="com.dzer6.ga3.ApplicationContextProvider"/>

    <bean name="nettyInternalConnector" class="org.hornetq.api.core.TransportConfiguration">
        <constructor-arg value="org.hornetq.core.remoting.impl.netty.NettyConnectorFactory" />
        <constructor-arg>
            <map>
                <entry key="host" value="${HORNETQ_CONNECTOR_INTERNAL_HOST:localhost}"/>
                <entry key="port" value="${HORNETQ_CONNECTOR_INTERNAL_PORT:5446}"/>
                <entry key="use-nio" value="${HORNETQ_CONNECTOR_INTERNAL_USE_NIO:true}"/>
            </map>
        </constructor-arg>
    </bean>
    
    <bean name="nettyInternalAcceptor" class="org.hornetq.api.core.TransportConfiguration">
        <constructor-arg value="org.hornetq.core.remoting.impl.netty.NettyAcceptorFactory" />
        <constructor-arg>
            <map>
                <entry key="host" value="${HORNETQ_ACCEPTOR_INTERNAL_HOST:localhost}"/>
                <entry key="port" value="${HORNETQ_ACCEPTOR_INTERNAL_PORT:5446}"/>
                <entry key="use-nio" value="${HORNETQ_ACCEPTOR_INTERNAL_USE_NIO:true}"/>
                <entry key="direct-deliver" value="${HORNETQ_ACCEPTOR_INTERNAL_DIRECT_DELIVER:false}" />
            </map>
        </constructor-arg>
        <!-- Name -->
        <constructor-arg value="netty-internal" />
    </bean>
    
    <bean id="hornetQServer" class="org.hornetq.core.server.impl.HornetQServerImpl">
        <constructor-arg type="org.hornetq.core.config.Configuration">
            <bean class="org.hornetq.core.config.impl.ConfigurationImpl">
                <property name="acceptorConfigurations">
                    <set>
                        <ref bean="nettyInternalAcceptor"/>
                    </set>
                </property>
                <property name="persistenceEnabled" value="false"/>
                <property name="securityEnabled" value="false"/>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="hornetQJmsConfig" class="org.hornetq.jms.server.config.impl.JMSConfigurationImpl">
        <constructor-arg index="0">
            <list/>
        </constructor-arg>
        <!-- Queues -->
        <constructor-arg index="1">
            <list>
                <bean class="org.hornetq.jms.server.config.impl.JMSQueueConfigurationImpl">
                    <!-- Name -->
                    <constructor-arg index="0" value="com.dzer6.vc.ga.FrontendServer"/>
                    <!-- Selector -->
                    <constructor-arg index="1">
                        <null/>
                    </constructor-arg>
                    <!-- Durable queue -->
                    <constructor-arg index="2" value="false"/>
                    <!-- JNDI bindings, empty list for none -->
                    <constructor-arg index="3">
                        <list/>
                    </constructor-arg>
                </bean>
                <bean class="org.hornetq.jms.server.config.impl.JMSQueueConfigurationImpl">
                    <!-- Name -->
                    <constructor-arg index="0" value="com.dzer6.vc.ga.UserConnection"/>
                    <!-- Selector -->
                    <constructor-arg index="1">
                        <null/>
                    </constructor-arg>
                    <!-- Durable queue -->
                    <constructor-arg index="2" value="false"/>
                    <!-- JNDI bindings, empty list for none -->
                    <constructor-arg index="3">
                        <list/>
                    </constructor-arg>
                </bean>
            </list>
        </constructor-arg>
        <!-- Topics -->
        <constructor-arg index="2">
            <list>
                <bean class="org.hornetq.jms.server.config.impl.TopicConfigurationImpl">
                    <!-- Name -->
                    <constructor-arg index="0" value="com.dzer6.vc.ga.FlashClient"/>
                    <constructor-arg index="1">
                        <list/>
                    </constructor-arg>
                </bean>
                <bean class="org.hornetq.jms.server.config.impl.TopicConfigurationImpl">
                    <!-- Name -->
                    <constructor-arg index="0" value="com.dzer6.vc.ga.Bayeux"/>
                    <constructor-arg index="1">
                        <list/>
                    </constructor-arg>
                </bean>
                <bean class="org.hornetq.jms.server.config.impl.TopicConfigurationImpl">
                    <!-- Name -->
                    <constructor-arg index="0" value="com.dzer6.vc.ga.RtmpServerInterface"/>
                    <constructor-arg index="1">
                        <list/>
                    </constructor-arg>
                </bean>
            </list>
        </constructor-arg>
        <constructor-arg index="3">
            <null/>
        </constructor-arg>
    </bean>

    <bean name="hornetQJmsServer" class="org.hornetq.jms.server.impl.JMSServerManagerImpl" init-method="start" destroy-method="stop">
        <constructor-arg index="0" ref="hornetQServer"/>
        <constructor-arg index="1" ref="hornetQJmsConfig"/>
    </bean>
    
    <bean id="jms" class="org.apache.camel.component.jms.JmsComponent">
        <property name="connectionFactory">
            <bean class="org.hornetq.jms.client.HornetQJMSConnectionFactory">
                <constructor-arg value="false" />
                <constructor-arg ref="nettyInternalConnector"/>
            </bean>
        </property>
    </bean>

    <camel:camelContext id="camel" />
  
    <camel:export id="frontendServerQueueExport"
                  uri="jms:queue:com.dzer6.vc.ga.FrontendServer"
                  serviceRef="rtmpServerEventsListener"
                  serviceInterface="com.dzer6.vc.ga.FrontendServerInterface"/>
  
    <camel:export id="userConnectionQueueExport"
                  uri="jms:queue:com.dzer6.vc.ga.UserConnection"
                  serviceRef="userConnectionService"
                  serviceInterface="com.dzer6.vc.ga.UserConnectionInterface"/>
                
    <camel:proxy id="flashClient"
                 serviceInterface="com.dzer6.vc.ga.FlashClientInterface"
                 serviceUrl="jms:topic:com.dzer6.vc.ga.FlashClient"/>
               
    <camel:proxy id="bayeux"
                 serviceInterface="com.dzer6.vc.ga.BayeuxInterface"
                 serviceUrl="jms:topic:com.dzer6.vc.ga.Bayeux"/>

    <camel:proxy id="rtmpServerTopic"
                 serviceInterface="com.dzer6.vc.ga.RtmpServerInterface"
                 serviceUrl="jms:topic:com.dzer6.vc.ga.RtmpServerInterface"/>

</beans>